@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #223344;
  --primary-color-hover: #223344e5;
  --black-color: #202020;
  --white: white;
}

body {
  font-family: var(--font-outfit), sans-serif;
  background-color: var(--black-color);
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}