@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #223344;
  --primary-color-hover: #223344e5;
  --bg-color: #ECF0F5;
  --hover-color: #ECF0F5;
  --black-color: #202020;
  --border-color: #B1C5D8;
  --white: white;
}

body {
  font-family: var(--font-outfit), sans-serif;
  background-color: var(--white);
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), sans-serif;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

.wrapper {
  width: 100%;
  max-width: 28rem;
  padding: 12px !important;
  margin-inline: auto;
}


select option:first-child {
  display: none;
}

.ant-switch-checked {
	background: var(--primary-color) !important;
}


/* Page Loader Css */
.pageloader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.pageloader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* content loading css */
.contentloader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.contentloader::after,
.contentloader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.contentloader::after {
  animation-delay: 0;
}
.ant-select-placeholder{
  color: var(--primary-color) !important;
}
.ant-select-suffix{
  color: var(--primary-color) !important;
}
@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ant-drawer-header-title {
	flex-direction: row-reverse;
}